.modal {
  margin: 0 auto;
  width: 560px;
  text-align: center;

  .caption {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .mainText {
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #777777;
    line-height: 145.4%;

    .reference {
      font-size: 22px;
      font-weight: bold;
      padding-top: 20px;
      color: black;
    }
  }
}
