.loaderContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pizzaInfoContainer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  .pizzaSlider {
    height: 400px;
    margin-right: 40px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .pizzaTextDescContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;

    .pizzaDesc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      width: 608px;

      .caption {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 15px;
      }

      .desc {
        font-size: 17px;
        color: rgb(64, 58, 58);
      }
    }

    .consistContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .consistCaption {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 5px;
      }

      .consist {
        font-size: 17px;
        color: rgb(52, 51, 51);
      }
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  border: 7px solid rgb(211, 211, 64);
  background-color: rgb(219, 153, 30);
  border-radius: 15px;
  padding: 10px;
  justify-content: space-evenly;
  margin-bottom: 40px;

  .avaImgWrapper {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 5px solid rgb(205, 64, 12);

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .bannerQuote {
    font-size: 40px;
    font-weight: bold;
  }
}

.btnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goHomeBtn {
  padding: 10px 30px;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 24px;
}
